html, body {
    margin: 0px;
    height: 100%;
}

header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(243,244,246);
    color: white;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

#logo {
    width: 40px;
}

#logo-name {
    margin-left: 10px;
    font-weight: 800;
    font-size: 1.5rem
}

#container {
    margin: 10px;
    padding: 10px;
    position: relative;
    padding-bottom: 100px;
}

.order {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-btn {
    color:#fff;
    background-color: #000;
    border-color: #000;
    border-radius: 10px;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-style: none;
}

#test-screen, #result-screen {
    display : none;
}

#answer_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    -webkit-tap-highlight-color :transparent;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    font-weight: 800;
    font-size : 26px;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);
}

.code {
    font-size: 14px;
    padding: 10px;
    background-color: rgb(194, 196, 196);
}

#footer-banner {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    bottom: 0;
}

#notice {
    margin-top:50px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    font-size: 20px;
    font-weight: 400;
}

#test-result {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.focus {
    color:#d53369;
}

#average {
    font-weight: 800;
    font-size: 30px;
}

.btn-pink {
    background-color: #d53369;
    height: 800;
}

.btn-purple {
    background-color: #852cab;
    height: 800;
}

.btn-blue {
    background-color: #3898e1;
    height: 800;
    color: black;
    font-weight: bold;
}

#test-question {
    max-width: 500px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d53369;
    color: white;
    text-align: center;
}

#share {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index:100;
    text-decoration: none;
}

@media ( max-width: 768px ) {
    #share {
        bottom: 20px;
    }
    
    #yotube-video {
        width: 100%;
    }

    #footer-banner {
        position: fixed;
        bottom: 0;
        width:100%;
    }

    #footer-banner > img{
        max-height: 300px;
        width: 100%;
    }

    .btn {
        background: linear-gradient(180deg, #d53369 0%, #daae51 100%);
    }
}